<mat-toolbar color="primary" class="flex flex-row">
  <mat-toolbar-row>
    <!-- toggle button -->
    @if (isOpened) {
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    }
    <a id="home-button" (click)="onToggleSidenav()"
      ><div class="mat-body1">V. {{ version }}</div></a
      >

      <!-- center title -->
      <div style="flex: 0.9"></div>
      <div class="mat-body2">
        ANGULAR {{ pageName }}
      </div>
      <div style="flex: 1"></div>

      <div class="flex flex-col my-2 text-end">
        <span class="text-sm line-clamp-1">{{ userProfile.username }}</span>
        <span class="text-sm line-clamp-1">{{ userProfile.email }}</span>
      </div>

      <!-- logout button -->
      <span>
        <button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
          class="ml-auto bg-transparent border-none cursor-pointer"
          >
          <img
            height="40"
            width="40"
            [src]="'assets/images/samit.jpg'"
            alt="IT Genius Logo"
            class="rounded-full"
            />
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>แก้ไขโปรไฟล์</span>
          </button>
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>ตั้งค่า</span>
          </button>
          <button mat-menu-item (click)="onClickSignout()">
            <mat-icon>lock</mat-icon>
            <span>ออกจากระบบ</span>
          </button>
        </mat-menu>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>