<div class="flex flex-row justify-center mt-10">
  <mat-card class="w-[95%]">
    <mat-card-header>
      <mat-card-title>
        <h3>เพิ่มสินค้าใหม่</h3>
      </mat-card-title>
    </mat-card-header>

    <form [formGroup]="formProduct" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <div class="form-container">
          <mat-form-field>
            <mat-label>ชื่อสินค้า</mat-label>
            <input
              matInput
              placeholder="ชื่อสินค้า"
              name="productName"
              id="productName"
              formControlName="productName"
              required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>ราคา</mat-label>
            <input
              matInput
              placeholder="ราคา"
              name="unitPrice"
              id="unitPrice"
              formControlName="unitPrice"
              type="number"
              required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>จำนวน</mat-label>
            <input
              matInput
              placeholder="จำนวน"
              name="unitInStock"
              id="unitInStock"
              formControlName="unitInStock"
              type="number"
              required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>หมวดหมู่</mat-label>
            <input
              matInput
              placeholder="หมวดหมู่"
              name="categoryID"
              id="categoryID"
              formControlName="categoryID"
              type="number"
              required>
          </mat-form-field>

          <!-- Preview Image -->
          <div class="d-flex justify-content-center">
            @if (imageFile) {
              <img
                [src]="imageURL"
                alt="preview"
                class="w-[300px] object-cover"
                />
            }
          </div>

          <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label>
          <input
            class="ng-hide"
            id="image"
            name="image"
            formControlName="image"
            type="file"
            (change)="onChangeImage($event)"
            />

          <button mat-raised-button color="primary">บันทึก</button>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
