.container {
    padding: 0px !important;
  }
  
  .nav-caption {
    margin-left: 10px;
  }
  a.active {
    background-color: rgba(103, 58, 183, 0.15);
    color: #673ab7;
  }
  
  .mat-icon {
    font-size: 25px;
  }
  
  .nav-caption {
    margin-left: 30px;
    font-size: 16px;
  }