<mat-nav-list class="container">
  @if (isOpened) {
    <img
      [src]="'assets/images/nglogo.jpg'"
      alt=""
      width="100%"
      />
  }

  <!-- menu button when collapse -->
  @if (!isOpened) {
    <div
      class="!bg-red-500 h-[64px] flex justify-center items-center"
      >
      <button
        class="!bg-red-500 !text-white"
        mat-icon-button
        (click)="onToggleSidenav()"
        >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  }

  <div style="height: 8px"></div>

  <a mat-list-item routerLink="/stock" routerLinkActive="active">
    <mat-icon>dashboard</mat-icon>
    @if (isOpened) {
      <span class="nav-caption">STOCK</span>
    }
  </a>

  <mat-divider> </mat-divider>

  <a mat-list-item routerLink="/shop" routerLinkActive="active">
    <mat-icon>shop</mat-icon>
    @if (isOpened) {
      <span class="nav-caption">SHOP</span>
    }
  </a>
  <mat-divider> </mat-divider>
  <a mat-list-item routerLink="/report" routerLinkActive="active">
    <mat-icon>pie_chart</mat-icon>
    @if (isOpened) {
      <span class="nav-caption">REPORT</span>
    }
  </a>

  <mat-divider> </mat-divider>

  <a mat-list-item routerLink="/transaction" routerLinkActive="active">
    <mat-icon>history</mat-icon>
    @if (isOpened) {
      <span class="nav-caption">TRANSACTION</span>
    }
  </a>
  <mat-divider> </mat-divider>
</mat-nav-list>
